body {
    background:black;
    color:white;
    text-align: "center";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    max-width: 700px;
    margin:auto;
    text-align: center;
}
.content{
    max-width: 700px;
    margin:auto;
    text-align: center;
}
.directions{
    
    border-style: solid;
    border-color:yellow;
    border-width: 2px;
    width:300px;
    
    float: left;
    margin-top: 20px;/* 
    min-height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(black, maroon); */
}
#trash{
    float: left;
    background-color: #cccccc;
    background-image: linear-gradient(black, maroon);
    padding:20px;
    vertical-align: center;
    margin-top: 20px;
    border-style: dotted;
    border-color: red;
    border-width:2px;
    min-height: 150px;
    width:300px;
    

}
#under-scores{
    color: violet;
    font-weight: 400;
}
#guesses_left {
    background:blue;
}